# Mark all static assets as vendored by default
ts_v5_app/static/** linguist-vendored

# Then mark only custom files as not vendored
ts_v5_app/static/css/screensv2.css -linguist-vendored
ts_v5_app/static/css/templatemo-main.css -linguist-vendored
ts_v5_app/static/js/datepicker.js -linguist-vendored
ts_v5_app/static/js/main.js -linguist-vendored
ts_v5_app/static/js/plugins.js -linguist-vendored

# Ensure Python is detected
*.py linguist-detectable=true

# Other vendored paths
ts_v5_venv/** linguist-vendored
staticfiles/** linguist-vendored

# Mark documentation
*.md linguist-documentation
