@font-face {
 font-family : 'PigpenCipher';
 src         : url('../fonts/pigpencipher/PigpenCipher.ttf');
 font-style  : normal;
}

* {
 -webkit-box-sizing : border-box;
 box-sizing         : border-box;
 font-family        : 'Open Sans', sans-serif;
 margin             : 0;
 padding            : 0;
}

body {
 font-size  : 100%;
 overflow-x : hidden;
}

em {
 color       : lightgray;
 font-style  : normal;
 font-weight : bold;
}

html {
 overflow-x : hidden;
}

li, p, ul {
 color          : lightgray;
 font-size      : 1.2em;
 line-height    : 1.5;
 text-transform : uppercase;
}

nav {
 background    : rgba(0, 0, 0, 0.36);
 bottom        : 16vh;
 font-size     : 1rem;
 font-weight   : 300;
 height        : 72vh;
 left          : 11px;
 position      : fixed;
 text-align    : center;
 top           : 9vh;
 width         : 81px;
 z-index       : 100;
 border-radius : 9px;
}

.nav-text ul li a i {
 font-size : 27px;
}

/*.logo {*/
/*}*/
nav .logo {
 margin-top      : 7px;
 margin-bottom   : 11px;
 padding-bottom  : 17px;
 display         : flex;
 justify-content : center;
 text-align      : center;
}

nav .logo img {
 max-width     : 100%;
 transform     : scale(1);
 overflow-x    : hidden;
 border-radius : 9px;
}

nav a {
 font-size       : 14px;
 letter-spacing  : 1px;
 padding         : 11px 11px;
 position        : relative;
 text-decoration : none;
 z-index         : 0;
}

nav a, nav a:active, nav a:visited {
 color            : whitesmoke;
 background-color : transparent;
}

nav a.active {
 background-color : whitesmoke;
 color            : #232323;
}

nav a::before {
 bottom          : 0;
 content         : '';
 height          : 100%;
 left            : 0;
 opacity         : 1;
 position        : absolute;
 width           : 100%;
 z-index         : -1;
 background-size : cover;
}

nav ul li i {
 z-index : 1; /* Ensure icon is on top */
}

nav a:hover {
 color           : lightpink;
 text-decoration : none;
}

nav a:hover em {
 color           : lightpink;
 text-decoration : none;
}

nav em {
 font-size   : 12px;
 font-style  : normal;
 margin-left : 1px;
}

/*nav ul {*/
/* -ms-flex-direction    : column;*/
/* -ms-flex-pack         : distribute;*/
/* -webkit-box-direction : normal;*/
/* -webkit-box-orient    : vertical;*/
/* display               : -ms-flexbox;*/
/* display               : -webkit-box;*/
/* display               : flex;*/
/* flex-direction        : column;*/
/* height                : 44vh;*/
/* justify-content       : space-around;*/
/* list-style            : none;*/
/* margin-left           : 3px;*/
/* text-align            : left;*/
/*}*/

nav ul li {
 margin : 0px 0px;
}

/*nav ul li a {*/
/* font-size : 17px;*/
/*}*/

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 44vh;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 17px;
}

nav ul li i {
  padding-bottom: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}



/*nav ul li i {*/
/* width          : 23px;*/
/* padding-bottom : 17px;*/
/*}*/

.nav-text ul li a:hover i.fa {
 color : lightpink;
}

p {
 color : whitesmoke !important;
}

ul {
 list-style : none !important;
}

/*ul > li::before {*/
/* color        : transparent;*/
/* content      : '\25CF';*/
/* font-size    : 0px;*/
/* list-style   : none;*/
/* margin-right : 0px;*/
/*}*/
ul li a {
 color       : lightgray !important;
 font-weight : bold;
}

ul li a.active {
 background-color : transparent;
 color            : gray;
}

ul li a.active i {
 color : lightpink;
}

ul li a:active {
 color           : lightpink;
 text-decoration : none;
}

ul li a:hover {
 color           : lightpink;
 text-decoration : none;
}

ul li a:visited {
 color           : gray;
 text-decoration : none;
}

/*ul ul li::before {*/
/* color        : transparent;*/
/* content      : '\25E6';*/
/* font-size    : 0px;*/
/* margin-right : 0px;*/
/*}*/
#ContactForm {
 padding-left : 11px;
}

#ContactForm input[type='email'], #ContactForm input[type='text'], #ContactForm textarea {
 border : 2px solid gray;
}

.author-text ul li a:hover {
 color : lightpink;
}

/*.col-md-12 {*/
/* margin-left   : auto;*/
/* margin-right  : auto;*/
/* padding-left  : 0px;*/
/* padding-right : 0px;*/
/* width         : 100%;*/
/*}*/
/*.container {*/
/* margin-left   : auto;*/
/* margin-right  : auto;*/
/* padding-left  : 0px;*/
/* padding-right : 0px;*/
/* width         : 100%;*/
/*}*/
.content::-webkit-scrollbar {
 background-color : rgba(0, 0, 0, 0.5);
 height           : 8px;
 width            : 5px;
}

.content::-webkit-scrollbar-thumb {
 background : rgba(250, 250, 250, 0.5);
}

.fifth-content #contact {
 padding : 50px 50px 50px 50px;
}

.fifth-content #map {
 padding : 50px 0px 50px 50px;
}

.fifth-content .container-fluid {
 padding-left  : 0px;
 padding-right : 0px;
 margin-top    : 27px;
}

.fifth-content .container-fluid .col-md-6 {
 padding-left  : 0px;
 padding-right : 0px;
}

.fifth-content button {
 background-color : transparent;
 border           : 2px solid whitesmoke;
 border-radius    : 7px;
 color            : lightgray;
 display          : inline-block;
 font-size        : 12px;
 font-weight      : bold;
 letter-spacing   : 1px;
 max-width        : 100%;
 padding          : 8px 15px;
 text-decoration  : none;
 text-transform   : uppercase;
 transition       : all 0.25s;
 width            : 100%;
}

.fifth-content button:hover {
 background-color : transparent;
 color            : lightpink;
}

.fifth-content input {
 background-color : rgba(250, 250, 250, 0.000);
 border           : none;
 border-radius    : 7px;
 box-shadow       : none;
 color            : whitesmoke;
 font-size        : 13px;
 font-weight      : 300;
 height           : 40px;
 line-height      : 40px;
 margin-bottom    : 20px;
 outline          : none;
 padding-left     : 15px;
 width            : 100%;
}

.fifth-content textarea {
 background-color : rgba(250, 250, 250, 0.000);
 border           : none;
 border-radius    : 7px;
 box-shadow       : none;
 color            : whitesmoke;
 font-size        : 13px;
 font-weight      : 300;
 height           : 133px;
 margin-bottom    : 11px;
 max-height       : 133px;
 max-width        : 100%;
 outline          : none;
 padding-left     : 15px;
 padding-top      : 6px;
 width            : 100%;
}

.first-content {
 overflow-x : hidden;
 padding    : 2%;
 text-align : left;
}

.first-content .author-image img {
 border-radius : 30px;
 float         : left;
 margin-top    : 3px;
 max-width     : 100%;
 overflow-x    : hidden;
}

.first-content .fb-btn {
 display : inline-block;
}

.first-content .fb-btn a {
 background-color : whitesmoke;
 border           : 2px solid whitesmoke;
 color            : #232323;
 display          : inline-block;
 font-size        : 13px;
 letter-spacing   : 1px;
 padding          : 8px 15px;
 text-decoration  : none;
 text-transform   : uppercase;
 transition       : all 0.5s;
}

.first-content .fb-btn a:hover {
 background-color : transparent;
 color            : lightpink;
}

.first-content .main-btn {
 display      : inline-block;
 margin-right : 15px;
}

.first-content .main-btn a {
 border          : 2px solid whitesmoke;
 color           : lightpink;
 display         : inline-block;
 font-size       : 13px;
 letter-spacing  : 1px;
 padding         : 8px 15px;
 text-decoration : none;
 text-transform  : uppercase;
 transition      : all 0.5s;
}

.first-content em {
 font-style  : normal;
 font-weight : 600;
}

.first-content h2 {
 border-bottom  : 2px solid gray;
 color          : gray;
 display        : inline-block;
 font-size      : 27px;
 font-weight    : 700;
 letter-spacing : 1px;
 margin-bottom  : 20px;
 margin-top     : 0px;
 padding-bottom : 10px;
 text-transform : uppercase;
}

.first-content p {
 color          : whitesmoke;
 font-size      : 11px;
 font-weight    : 300;
 letter-spacing : 1px;
 line-height    : 17px;
 margin-bottom  : 20px;
 text-transform : uppercase;
}

.first-content {
 margin-left  : 0px;
 padding-left : 0px;
}

/*.footer .content {*/
/* bottom    : 3%;*/
/* display   : inline-block;*/
/* left      : 3%;*/
/* max-width : 3%;*/
/* position  : absolute;*/
/* right     : 0;*/
/* width     : 3%;*/
/*}*/
.scroll-footer {
 background-color : transparent;
 bottom           : 1%;
 left             : 0%;
 position         : fixed;
 text-align       : left;
 width            : 100%;
}

.scroll-footer p {
 color          : lightgray !important;
 padding-left   : 9px;
 font-family    : 'PigpenCipher', monospace;
 letter-spacing : 3px;
 font-size      : 7px;
}

.form-group {
 color       : gray;
 font-family : 'Arial', sans-serif;
 font-size   : 14px;
}

.fourth-content {
 padding : 5px;
}

.fourth-content .container-fluid {
 padding-left  : 15px;
 padding-right : 15px;
}

.fourth-content .container-fluid .col-md-4 {
 padding-left  : 0px;
 padding-right : 0px;
}

.fourth-content .item {
 margin : 10px;
}

.fourth-content .item .hover-effect {
 background-color : rgba(0, 0, 0, 100%);
 bottom           : 0;
 /*color            : gray;*/
 left             : 0;
 opacity          : 100%;
 position         : absolute;
 right            : 0;
 text-align       : left;
 top              : 0;
 transition       : all 0.0s;
 visibility       : hidden;
 border-radius    : 11px;
}

.fourth-content .item .hover-effect .hover-content {
 left       : 0;
 padding    : 11px;
 position   : absolute;
 text-align : left;
 top        : 50%;
 transform  : translateY(-50%);
 width      : 100%;
}

.fourth-content .item .hover-effect h2 {
 border-bottom  : 1px solid gray;
 color          : gray;
 display        : inline-block;
 font-size      : 14px;
 font-weight    : 500;
 letter-spacing : 1px;
 margin-bottom  : 7px;
 margin-top     : 0px;
 padding-bottom : 7px;
 text-transform : uppercase;
}

.fourth-content .item .hover-effect p {
 font-size      : 11px;
 letter-spacing : 1px;
 line-height    : 13px;
 margin-bottom  : 0px;
 padding-bottom : 0px;
 text-transform : uppercase;
}

.fourth-content .item:hover .hover-effect {
 opacity    : 100%;
 visibility : visible;
}

.fourth-content .item .thumb {
 position : relative;
}

.fourth-content .item img {
 max-width     : 100%;
 overflow-x    : hidden;
 border-radius : 11px;
}

.fourth-content p {
 color          : gainsboro;
 font-size      : 11px;
 font-weight    : 300;
 letter-spacing : 1px;
 line-height    : 17px;
 margin-bottom  : 20px;
 text-transform : uppercase;
}

.main-btn a:hover {
 background-color : gray;
 color            : whitesmoke;
}

.nav-text {
 font-size : 11px;
}

.nav-text ul {
 align-items     : center;
 display         : flex;
 justify-content : center;
 list-style-type : none;
 margin          : 0;
 padding         : 0;
}

.nav-text ul li {
 margin : 0 10px;
}

.nav-text ul li a {
 align-items : center;
 display     : flex;
}

.row {
 margin-left   : auto;
 margin-right  : auto;
 padding-left  : 0px;
 padding-right : 0px;
 width         : 100%;
}

.second-content .container-fluid {
 padding-left  : 0px;
 padding-right : 0px;
}

.second-content .container-fluid .col-md-6 {
 padding-left  : 0px;
 padding-right : 0px;
}

.second-content .left-content {
 padding-left  : 27px !important;
 padding-right : 9px !important;
 padding-top   : 27px !important;
 text-align    : left;
}

.second-content .main-btn a {
 border          : 2px solid gainsboro;
 color           : gainsboro;
 display         : inline-block;
 font-size       : 13px;
 letter-spacing  : 1px;
 padding         : 8px 15px;
 text-decoration : none;
 text-transform  : uppercase;
 transition      : all 0.5s;
}

.second-content .right-image img {
 float          : right;
 margin-top     : 3%;
 padding-right  : 3%;
 padding-bottom : 5%;
 max-width      : 100%;
 min-width      : 100%;
 overflow-x     : hidden;
 border-radius  : 30px;
}

.third-content .left-image img {
 border-radius : 11px;
}

.second-content a {
 color           : gainsboro;
 text-decoration : none;
}

.second-content h2 {
 border-bottom  : 2px solid gray;
 color          : gray;
 display        : inline-block;
 font-size      : 27px;
 font-weight    : 700;
 letter-spacing : 1px;
 margin-bottom  : 20px;
 margin-top     : 0px;
 padding-bottom : 10px;
 text-transform : uppercase;
}

.second-content p {
 color          : gainsboro;
 font-size      : 11px;
 font-weight    : 300;
 letter-spacing : 1px;
 line-height    : 17px;
 margin-bottom  : 20px;
 text-transform : uppercase;
}

.slides {
 height : 100vh;
 width  : 500vw;
}

.slides .slide {
 background-size : cover;
 float           : left;
 height          : 100vh;
 text-align      : left;
 width           : 100vw;
}

.slides .slide .content {
 background : rgba(0, 0, 0, 0.18);
 bottom     : 0%;
 height     : 100%;
 left       : 30%;
 overflow-x : hidden;
 position   : relative;
 top        : 0%;
 width      : 70%;
}

.slides .slide img {
 overflow-x : hidden;
 width      : 100%;
}

.slides .slide:nth-child(1) {
 background-image : url(../img/backgrounds/third_bg.jpg);
 overflow-x       : hidden;
}

.slides .slide:nth-child(2) {
 background-image : url(../img/backgrounds/third_bg.jpg);
 overflow-x       : hidden;
}

.slides .slide:nth-child(3) {
 background-image : url(../img/backgrounds/third_bg.jpg);
 overflow-x       : hidden;
}

.slides .slide:nth-child(4) {
 background-image : url(../img/backgrounds/third_bg.jpg);
 overflow-x       : hidden;
}

.slides .slide:nth-child(5) {
 background-image : url(../img/backgrounds/third_bg.jpg);
 overflow-x       : hidden;
}

.special-p {
 font-size     : 11px !important;
 margin-bottom : 0px !important;
}

.swal2-confirm {
 background-color : gray !important;
 color            : lightpink;
}

.swal2-html-container {
 color : lightgray !important;
}

.swal2-popup {
 background-color : #71797E;
}

.third-content {
 padding    : 11px;
 text-align : left;
}

.third-content .col-md-6 {
 margin  : 0px;
 padding : 0px;
}

.third-content .container-fluid {
 padding-left  : 7px;
 padding-right : 7px;
}

.third-content .first-section .left-content {
 margin-right : 15px;
 margin-top   : 12px;
}

.third-content .first-section .right-image img {
 float         : right;
 margin-bottom : 1%;
 margin-right  : 0%;
 margin-top    : 0%;
 max-width     : 100%;
 min-width     : 100%;
 overflow-x    : hidden;
 border-radius : 30px;
}

.third-content .main-btn a {
 border          : 2px solid gainsboro;
 color           : lightpink;
 display         : inline-block;
 font-size       : 13px;
 letter-spacing  : 1px;
 padding         : 8px 15px;
 text-decoration : none;
 text-transform  : uppercase;
 transition      : all 0.5s;
}

.third-content .second-section {
 margin-top : 12px;
}

.third-content .second-section .left-image {
 margin-right : 0px;
 margin-top   : 0px;
}

.third-content .second-section .right-content {
 margin-left : 15px;
 margin-top  : 0px;
}

.third-content h2 {
 border-bottom  : 2px solid gray;
 color          : gray;
 display        : inline-block;
 font-size      : 27px;
 font-weight    : 700;
 letter-spacing : 1px;
 margin-bottom  : 20px;
 margin-top     : 0px;
 padding-bottom : 10px;
 text-transform : uppercase;
}

.third-content p {
 color          : gainsboro;
 font-size      : 11px;
 font-weight    : 300;
 letter-spacing : 1px;
 line-height    : 17px;
 margin-bottom  : 20px;
 text-transform : uppercase;
}

.white-on-hover:hover {
 color : lightpink !important;
}

@-webkit-keyframes fillColour {
 0% {
  color : gainsboro;
 }
 100% {
  color : gray;
 }
 50% {
  color : gainsboro;
 }
}

@keyframes fillColour {
 0% {
  color : gainsboro;
 }
}

.li2 {
 color       : gainsboro;
 font-size   : 11px;
 margin-left : 11px;
 list-style  : none;
 font-weight : 300;
}

.li2h2 {
 font-size      : 11px !important;
 color          : lightgray;
 padding-bottom : 17px;
}

.portfolio-hover-title {
 font-size : 17px !important;
}

.logo img:hover {
 filter     : brightness(200%); /* Increase brightness by 100% */
 transition : filter 0.5s ease-in-out; /* Add a smooth transition */
}

.left-image {
 display  : block;
 position : relative;
 width    : 100%;
 height   : auto;
 overflow : visible;
}

.left-image img {
 width      : 80%;
 transition : transform 0.4s ease;
}

.left-image img:hover {
 transform : scale(1.1);
 position  : relative;
 z-index   : 10;
}
