{% extends 'base.html' %}
{% load static %}

{% block content %}

 <nav class = 'nav-text' style = "margin-left: 27px;">

  <div class = "logo">
   <a href = https://github.com/dtebar-10010 target = "_blank">
    {#    <img src = "{% static 'img/icons/logo.png' %}" alt = "">#}
    <img src = "{% static STATIC_URL|default:'img/icons/logo.png' %}" alt = "Logo">
   </a>
  </div>

  {#  <div class = "mini-logo">#}
  {#   <a href = https://github.com/AubFigz target = "_blank">#}
  {#    <img src = "{% static 'img/icons/logo.jpg' %}" alt = "">#}
  {#   </a>#}
  {#  </div>#}

  <ul>
   <li>
    <a href = "#1">
     <i class = "fa fa-home"></i>
     {#     <em class = "nav-text">Home</em>#}
    </a>
   </li>
   <li>
    <a href = "#2">
     <i class = "fa fa-user"></i>
     {#     <em class = "nav-text">About</em>#}
    </a>
   </li>
   <li>
    <a href = "#3">
     <i class = "fa fa-pencil"></i>
     {#     <em class = "nav-text">Philosophy</em>#}
    </a>
   </li>
   <li>
    <a href = "#4">
     <i class = "fa fa-image"></i>
     {#     <em class = "nav-text">Portfolio</em>#}
    </a>
   </li>
   <li>
    <a href = "#5">
     <i class = "fa fa-envelope"></i>
     {#     <em class = "nav-text">Contact</em>#}
    </a>
   </li>
  </ul>

 </nav>

 <div class = "slides">
  <div class = "slide" id = "1">
   <div class = "content first-content">
    <div class = "container-fluid">

     <div class = "col-md-3">
      <div class = "author-image">
       <img src = "{% static 'img/author_image.jpg' %}" alt = "" style = "border: 2px solid gray; border-radius: 9px;">
      </div>
     </div>

     <div class = "col-md-9 author-text">
      <h2>DANIEL TÉBAR</h2>
      <p style = "max-width: 100%; word-wrap: break-word; overflow-wrap: break-word; padding-right: 80px; margin-right: 60px;"> 
      I am an
       <em>experienced</em>
       software developer residing in New York City.
       I have developed software systems for some of the most important corporations, and government agencies in the USA.
       I will develop an
       <em>elegant and useful</em>
       web application for your company without
       breaking your bank, and in a timely fashion,
       <em>guaranteed</em>.
      </p>

      {#      <ul style='padding-top: 17px !important;'>#}
      {#       <li>#}
      {#        <a href = "https://top-quarks.com"  target = "_blank"#}
      {#           class = "li2h2 white-on-hover text-decoration: none;">#}
      {#         eCommerce Sample#}
      {#        </a>#}
      {#        <ul>#}
      {#         <li class = "li2">#}
      {#          Where science meets art#}
      {#         </li>#}
      {#        </ul>#}
      {#       </li>#}
      {#      </ul>#}

      <ul>
       <li>
        <a href = "https://www.facebook.com/dmtebar/" target = "_blank"
           class = "li2h2 white-on-hover text-decoration: none;">Facebook
        </a>
        <ul>
         <li class = "li2">Interesting, funny stuff.
         </li>
        </ul>
       </li>
      </ul>

      {#      <ul>#}
      {#       <li>#}
      {#        <a href =  "https://top-quarks.com/dtebar/Meet_The_Beatles/index.php" target = "_blank"#}
      {#           class = "li2h2 white-on-hover text-decoration: none;">Meet The Beatles!#}
      {#        </a>#}
      {#        <ul>#}
      {#         <li class = "li2">Features the band's four phases#}
      {#         </li>#}
      {#        </ul>#}
      {#       </li>#}
      {#      </ul>#}

      {#      <ul>#}
      {#       <li>#}
      {#        <a href = "https://LIVEiTECH.com" target = "_blank"#}
      {#           class = "li2h2 white-on-hover text-decoration: none;">LIVEiTECH#}
      {#        </a>#}
      {#        <ul>#}
      {#         <li class = "li2">State-of-the-art Security Systems#}
      {#         </li>#}
      {#        </ul>#}
      {#       </li>#}
      {#      </ul>#}

      {#      <ul>#}
      {#       <li>#}
      {#        <a href = "https://top-quarks.com/dtebar/harrison/index.php?vid=9045&strip=6"  target = "_blank"#}
      {#           class = "li2h2 white-on-hover text-decoration: none;">Commander Figz#}
      {#        </a>#}
      {#        <ul>#}
      {#         <li class = "li2">My grandson#}
      {#         </li>#}
      {#        </ul>#}
      {#       </li>#}
      {#      </ul>#}
      {#      #}
      {#            <ul>#}
      {#       <li>#}
      {#        <a href = "https://top-quarks.com/dtebar/celeste/index.php?vid=3351&strip=3"   target = "_blank"#}
      {#           class = "li2h2 white-on-hover text-decoration: none;">Celeste Figz#}
      {#        </a>#}
      {#        <ul>#}
      {#         <li class = "li2">My granddaughter#}
      {#         </li>#}
      {#        </ul>#}
      {#       </li>#}
      {#      </ul>#}
      {#                  <ul>#}
      {#       <li>#}
      {#        <a href = "https://www.aubreyf.tech"   target = "_blank"#}
      {#           class = "li2h2 white-on-hover text-decoration: none;">Virga Figz#}
      {#        </a>#}
      {#        <ul>#}
      {#         <li class = "li2">My daughter#}
      {#         </li>#}
      {#        </ul>#}
      {#       </li>#}
      {#      </ul>#}
      <hr>
     </div>
    </div>
   </div>

  </div>

  <div class = "slide" id = "2">

   <div class = "content second-content">
    <div class = "container-fluid">

     <div class = "col-md-6">
      <div class = "left-content" id = "myTextContainer" style = "padding-right: 60px; margin-right: 40px;">
       <h2 style = 'padding-bottom: 9px; margin-bottom:0px;'>It's All About Me</h2>
       <br>
       <p>Degrees in software development and chemistry;</p>
       <p>> 20 years of experience in the software development trade;</p>
       <p>Data-driven web sites from 1,000 USD;</p>
       <p>Full-fledged eCommerce web applications from 10,000 USD;</p>
       <p>Financing available.</p>
       <hr>
       <br>
      </div>
     </div>

     <div class = "col-md-6">
      <div class = "right-image" style = "padding-right: 3%; margin-right: 3%;">
       <img src = "{% static 'img/about_image.png' %}" alt = "" 
       style = "width: 80%; height: 85%; border: 2px solid gray; border-radius: 9px; display: block; object-fit: cover; object-position: top;">
      </div>
     </div>

    </div>

   </div>

  </div>

  <div class = "slide" id = "3">
   <div class = "content third-content">
    <div class = "container-fluid">

     <div class = "first-section mb-3">
      <div class = "container-fluid">
       <div class = "row">
        <div class = "col-md-6">
         <div class = "left-content">
          <h2>Software is an art</h2>
          <p style = "max-width: 100%; word-wrap: break-word; overflow-wrap: break-word; padding-right: 60px; margin-right: 40px;">
          I believe that the beauty of software programs extends
           well beyond the objects one sees in the screens.
           Software code can, and should be created in beautiful,
           and elegant ways. Beauty is equal to truth.</p>
         </div>
        </div>
        <div class = "col-md-6">
         <div class = "right-image" style = "padding-top: 19px; position: relative; left: -81px;">
          <img src = "{% static 'img/first_service.jpg' %}" alt = "" 
          style = "width: 80% !important; max-width: 80% !important; min-width: 0 !important; margin-right: 27px; border: 2px solid gray; border-radius: 9px;">
         </div>
        </div>
       </div>
      </div>
     </div>

     <!-- Add extra margin-bottom to first-section for 20% more vertical space -->
     <div style = "height: 36px;"></div>

     <div class = "second-section mt-3" style = "padding-top:37px !important;">
      <div class = "container-fluid">
       <div class = "row" style = 'overflow: visible;'>

        <div class = "col-md-6">
         <div class = "left-image" style = "cursor: pointer;" onclick = "showLightbox()">
          <img src = "{% static 'img/2021-01-29.jpg' %}" alt = "Click to enlarge" 
          style = "width: 80%; transition: transform 0.4s; border: 2px solid gray; border-radius: 9px;">
         </div>
        </div>

        <div class = "col-md-6">
         <div class = "right-content" 
         style = "margin-left: -30px; margin-right: 20px; padding-right: 20px; max-width: 100%; overflow-wrap: break-word;">
          <h2>Software is a science</h2>
          <p style = "max-width: 100%; word-wrap: break-word; overflow-wrap: break-word; padding-right: 60px; margin-right: 40px; text-transform: none;">I always address computer programming as an engineering
           discipline. I take the time to design well before I
           write a single line of code.
           I use proven patterns that have been thoroughly validated
           through time. I test, and test, and test. My systems
           are as foolproof as humanly possible;
           my algorithms, as efficient as possible.</p>
         </div>
        </div>
       </div>
      </div>
     </div>

    </div>

   </div>
  </div>

  <div class = "slide" id = "4">
   <div class = "content fourth-content">
    <div class = "container-fluid" 
    style = "max-width: 100vw; overflow-x: hidden; padding-right: 60px; padding-left: 30px; margin-right: 15px; margin-left: 0;">
     <div class = "row" style = "margin-right: -15px; margin-left: 0;">

     <div class = "col-md-4 col-sm-6">
      <div class = "item">
       <div class = "thumb">
        <img src = "{% static 'img/portfolio/01-portfolio.jpg' %}" alt = "" 
        style = "border: 2px solid gray; border-radius: 9px;">
        <div class = "hover-effect">
         <div class = "hover-content">
          <h2>New Jersey Insurance Group</h2>
          <p>Software requirements elicitation and documentation; UML modeling.</p>
         </div>
        </div>
       </div>
      </div>
     </div>

     <div class = "col-md-4 col-sm-6">
      <div class = "item">
       <div class = "thumb">
        <img src = "{% static 'img/portfolio/02-portfolio.jpg' %}" alt = "" 
        style = "border: 2px solid gray; border-radius: 9px;">
        <div class = "hover-effect">
         <div class = "hover-content">
          <h2>Ariba Software</h2>
          <p>Technical documentation of software internals.</p>
         </div>
        </div>
       </div>
      </div>
     </div>

     <div class = "col-md-4 col-sm-6">
      <div class = "item">
       <div class = "thumb">
        <img src = "{% static 'img/portfolio/03-portfolio.jpg' %}" alt = "" 
        style = "border: 2px solid gray; border-radius: 9px;">
        <div class = "hover-effect">
         <div class = "hover-content">
          <h2>Department of the Navy</h2>
          <p>Design of field-of-battle telemedicine application.</p>
         </div>
        </div>
       </div>
      </div>
     </div>

     <div class = "col-md-4 col-sm-6">
      <div class = "item">
       <div class = "thumb">
        <img src = "{% static 'img/portfolio/04-portfolio.jpg' %}" alt = "" 
        style = "border: 2px solid gray; border-radius: 9px;">
        <div class = "hover-effect">
         <div class = "hover-content">
          <h2>Pfizer Pharmaceuticals</h2>
          <p>Design of new FDA reporting software tool.</p>
         </div>
        </div>
       </div>
      </div>
     </div>

     <div class = "col-md-4 col-sm-6">
      <div class = "item">
       <div class = "thumb">
        <img src = "{% static 'img/portfolio/05-portfolio.jpg' %}" alt = "" 
        style = "border: 2px solid gray; border-radius: 9px;">
        <div class = "hover-effect">
         <div class = "hover-content">
          <h2>Verizon Wireless</h2>
          <p>Integration of 'East' and 'West' wireless billing software platforms.</p>
         </div>
        </div>
       </div>
      </div>
     </div>

     <div class = "col-md-4 col-sm-6">
      <div class = "item">
       <div class = "thumb">
        <img src = "{% static 'img/portfolio/06-portfolio.jpg' %}" alt = "" 
        style = "border: 2px solid gray; border-radius: 9px;">
        <div class = "hover-effect">
         <div class = "hover-content">
          <h2>Sparx Enterprise Architect</h2>
          <p>Implementation of the Unified Modeling Language ( UML ), for all of the phases
           of the software development cycle.</p>
         </div>
        </div>
       </div>
      </div>
     </div>

     <div class = "col-md-4 col-sm-6">
      <div class = "item">
       <div class = "thumb">
        <img src = "{% static 'img/portfolio/07-portfolio.jpg' %}" alt = "" 
        style = "border: 2px solid gray; border-radius: 9px;">
        <div class = "hover-effect">
         <div class = "hover-content">
          <h2>Walt Disney World</h2>
          <p>Design and development of photographic moderation tool
           for all parks and cruises, worldwide.</p>
         </div>
        </div>
       </div>
      </div>
     </div>

     <div class = "col-md-4 col-sm-6">
      <div class = "item">
       <div class = "thumb">
        <img src = "{% static 'img/portfolio/08-portfolio.jpg' %}" alt = "" 
        style = "border: 2px solid gray; border-radius: 9px;">
        <div class = "hover-effect">
         <div class = "hover-content">
          <h2>State of Pennsylvania</h2>
          <p>Training in best software development practices for government developers.</p>
         </div>
        </div>
       </div>
      </div>
     </div>

     <div class = "col-md-4 col-sm-6">
      <div class = "item">
       <div class = "thumb">
        <img src = "{% static 'img/portfolio/09-portfolio.jpg' %}" alt = "" 
        style = "border: 2px solid gray; border-radius: 9px;">
        <div class = "hover-effect">
         <div class = "hover-content">
          <h2>Gotham Technologies</h2>
          <p>Video integration for Major League Baseball web site.</p>
         </div>
        </div>
       </div>
      </div>
     </div>

     <div class = "col-md-4 col-sm-6">
      <div class = "item">
       <div class = "thumb">
        <img src = "{% static 'img/portfolio/10-portfolio.jpg' %}" alt = "" 
        style = "border: 2px solid gray; border-radius: 9px;">
        <div class = "hover-effect">
         <div class = "hover-content">
          <h2>Time Warner Cable</h2>
          <p>Design and development of cable commercials scheduling software application.</p>
         </div>
        </div>
       </div>
      </div>
     </div>

     <div class = "col-md-4 col-sm-6">
      <div class = "item">
       <div class = "thumb">
        <img src = "{% static 'img/portfolio/11-portfolio.jpg' %}" alt = "" 
        style = "border: 2px solid gray; border-radius: 9px;">
        <div class = "hover-effect">
         <div class = "hover-content">
          <h2>Bank of America</h2>
          <p>Business process modeling for standardization amongst acquired banks.</p>
         </div>
        </div>
       </div>
      </div>
     </div>

     <div class = "col-md-4 col-sm-6">
      <div class = "item">
       <div class = "thumb">
        <img src = "{% static 'img/portfolio/12-portfolio.jpg' %}" alt = "" 
        style = "border: 2px solid gray; border-radius: 9px;">
        <div class = "hover-effect">
         <div class = "hover-content">
          <h2>Akimeka Defense</h2>
          <p>Development of application for the US Department of Defense.</p>
         </div>
        </div>
       </div>
      </div>
     </div>

     <div class = "col-md-4 col-sm-6">
      <div class = "item">
       <div class = "thumb">
        <img src = "{% static 'img/portfolio/13-portfolio.jpg' %}" alt = "" 
        style = "border: 2px solid gray; border-radius: 9px;">
        <div class = "hover-effect">
         <div class = "hover-content">
          <h2>Advance Auto Parts</h2>
          <p>Design and development of new parts-search application.</p>
         </div>
        </div>
       </div>
      </div>
     </div>

     <div class = "col-md-4 col-sm-6">
      <div class = "item">
       <div class = "thumb">
        <img src = "{% static 'img/portfolio/14-portfolio.jpg' %}" alt = "" 
        style = "border: 2px solid gray; border-radius: 9px;">
        <div class = "hover-effect">
         <div class = "hover-content">
          <h2>Live i Tech</h2>
          <p>Web site design and development.</p>
         </div>
        </div>
       </div>
      </div>
     </div>

     <div class = "col-md-4 col-sm-6">
      <div class = "item">
       <div class = "thumb">
        <img src = "{% static 'img/portfolio/15-portfolio.jpg' %}" alt = "" 
        style = "border: 2px solid gray; border-radius: 9px;">
        <div class = "hover-effect">
         <div class = "hover-content">
          <h2>Scheer Intelligence</h2>
          <p>Unified Modeling Language training for selective personnel.</p>
         </div>
        </div>
       </div>
      </div>
     </div>

     <div class = "col-md-4 col-sm-6">
      <div class = "item">
       <div class = "thumb">
        <img src = "{% static 'img/portfolio/17-portfolio.jpg' %}" alt = "" 
        style = "border: 2px solid gray; border-radius: 9px;">
        <div class = "hover-effect">
         <div class = "hover-content">
          <h2>Linked-In Referral</h2>
          <p>From Advance Auto Parts, and others.</p>
         </div>
        </div>
       </div>
      </div>
     </div>

     <div class = "col-md-4 col-sm-6">
      <div class = "item">
       <div class = "thumb">
        <img src = "{% static 'img/portfolio/18-portfolio.jpg' %}" alt = "" 
        style = "border: 2px solid gray; border-radius: 9px;">
        <div class = "hover-effect">
         <div class = "hover-content">
          <h2>Compu-Mailing Systems</h2>
          <p>Development of mailing address databases manipulation systems.</p>
         </div>
        </div>
       </div>
      </div>
     </div>

     <div class = "col-md-4 col-sm-6">
      <div class = "item">
       <div class = "thumb">
        <img src = "{% static 'img/portfolio/20-portfolio.jpg' %}" alt = "" 
        style = "border: 2px solid gray; border-radius: 9px;">
        <div class = "hover-effect">
         <div class = "hover-content">
          <h2>Udemy</h2>
          <p>AI course completion certificate.</p>
         </div>
        </div>
       </div>
      </div>
     </div>

     <div class = "col-md-4 col-sm-6">
      <div class = "item">
       <div class = "thumb">
        <img src = "{% static 'img/portfolio/21-portfolio.jpg' %}" alt = "" 
        style = "border: 2px solid gray; border-radius: 9px;">
        <div class = "hover-effect">
         <div class = "hover-content">
          <h2>Udemy</h2>
          <p>Python, Django, and advanced eCommerce course completion certificates.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
     </div>
    </div>
   </div>
  </div>

  <div class = "slide" id = "5">
   <div class = "content fifth-content">
    <div class = "container-fluid">
     <div class = "col-md-6">

      <form id = "ContactForm" action = "{% url 'contact' %}" method = "post" class = "bootstrap3">
       {% csrf_token %}

       <div class = "form-group row">
        <label for = "id_name" class = "col-sm-2 col-form-label" style = "color: gray; font-size: 1.11rem;">NAME</label>
        <div class = "col-sm-10">
         {{ form.name }}
        </div>
       </div>

       <div class = "form-group row">
        <label for = "id_email" class = "col-sm-2 col-form-label" style = "color: gray; font-size: 1.11rem;">EMAIL</label>        
        <div class = "col-sm-10">
         {{ form.email }}
        </div>
       </div>

       <div class = "form-group row">
        <label for = "id_message" class = "col-sm-2 col-form-label" style = "color: gray; font-size: 1.11rem;">MESSAGE</label>
        <div class = "col-sm-10">
         {{ form.message }}
        </div>
       </div>

       <div class = "form-group row">
        <div class = "col-sm-12">
         <p style = 'margin: 9px;'></p>
         <button type = "submit" id = "form-submit" class = "btn">SEND ME A MESSAGE</button>
         <p style = 'margin: 36px;'></p>
         <button type = "button" onclick = "downloadResumeAndShowMessage()" class = "btn">DOWNLOAD MY RESUME</button>

        </div>
       </div>

      </form>

     </div>
    </div>
   </div>
  </div>
 </div>

 <footer class = "scroll-footer">
  <p style='font-size: 7px !important;'>Dec twenty-twenty-five</p>
 </footer>

 <script>
function showLightbox() {
  Swal.fire({
    title: 'Full Size View',
    imageUrl: "{% static 'img/2021-01-29.jpg' %}",
    imageAlt: 'Enlarged Image',
    width: '90vw',             // Popup width: 90% of the viewport
    padding: '0',              // No extra padding
    imageWidth: '100%',        // Image fills popup width
    imageHeight: 'auto',       // Maintain natural aspect ratio
    showCloseButton: true,
    showConfirmButton: false,
    background: '#111',
    backdrop: true
  });
}

 </script>
{% endblock %}
