@media (max-width : 500px) {
 p {
  font-size : 7px !important;
 }

 p.special-p {
  font-size : 7px !important;
 }

 h2 {
  font-size   : 17px !important;
  font-weight : 500 !important;
  padding-top : 11px !important;
 }

 li.li2 {
  font-size : 7px !important;
 }

}

@media (max-width : 500px) {
 .left-image {
  display         : flex;
  justify-content : center;
  align-items     : center;
  width           : 100%;
  max-height      : none;
 }
}
